
*.targets
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/refint/HelloWorldConsoleApp.dll
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/ref/Task1.dll
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/refint/Task1.dll
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/Task1.AssemblyInfoInputs.cache
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/Task1.AssemblyInfo.cs
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/Task1.assets.cache
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/Task1.csproj.AssemblyReference.cache
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/Task1.csproj.BuildWithSkipAnalyzers
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/Task1.csproj.CoreCompileInputs.cache
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/Task1.csproj.FileListAbsolute.txt
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/Task1.dll
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/Task1.GeneratedMSBuildEditorConfig.editorconfig
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/Task1.genruntimeconfig.cache
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/Task1.GlobalUsings.g.cs
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/Task1.pdb
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/HelloWorldConsoleApp.csproj.nuget.dgspec.json
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/HelloWorldConsoleApp.csproj.nuget.g.props
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/HelloWorldConsoleApp2.csproj.nuget.dgspec.json
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/HelloWorldConsoleApp2.csproj.nuget.g.props
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/project.assets.json
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/project.nuget.cache
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Task1.csproj.nuget.dgspec.json
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Task1.csproj.nuget.g.props
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/ref/HelloWorldConsoleApp.dll
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp2.GlobalUsings.g.cs
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp2.csproj.AssemblyReference.cache
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp2.GeneratedMSBuildEditorConfig.editorconfig
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp2.assets.cache
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp2.AssemblyInfoInputs.cache
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp2.AssemblyInfo.cs
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp.pdb
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp.GlobalUsings.g.cs
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp.genruntimeconfig.cache
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp.dll
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp.csproj.FileListAbsolute.txt
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp.csproj.CoreCompileInputs.cache
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp.csproj.BuildWithSkipAnalyzers
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp.csproj.AssemblyReference.cache
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp.assets.cache
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp.AssemblyInfoInputs.cache
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/HelloWorldConsoleApp.AssemblyInfo.cs
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/apphost.exe
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/bin/Debug/net6.0/Task1.runtimeconfig.json
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/bin/Debug/net6.0/Task1.pdb
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/bin/Debug/net6.0/Task1.exe
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/bin/Debug/net6.0/Task1.dll
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/bin/Debug/net6.0/Task1.deps.json
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/bin/Debug/net6.0/HelloWorldConsoleApp.runtimeconfig.json
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/bin/Debug/net6.0/HelloWorldConsoleApp.pdb
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/bin/Debug/net6.0/HelloWorldConsoleApp.exe
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/bin/Debug/net6.0/HelloWorldConsoleApp.dll
1. Введение в профессию .NET Developer/HelloWorldConsoleApp_Task1/bin/Debug/net6.0/HelloWorldConsoleApp.deps.json
