
*.targets
1. Введение в профессию .NET Developer/Задание 1/HelloWorldConsoleApp_Task1/obj/
1. Введение в профессию .NET Developer/Задание 1/HelloWorldConsoleApp_Task1/bin/
1. Введение в профессию .NET Developer/Задание 1/.vs/HelloWorldConsoleApp_Task1/v17/
1. Введение в профессию .NET Developer/Задание 2/HelloWorldConsoleApp_Task2/obj/
1. Введение в профессию .NET Developer/Задание 2/HelloWorldConsoleApp_Task2/bin/
1. Введение в профессию .NET Developer/Задание 2/.vs/HelloWorldConsoleApp_Task2/v17/
1. Введение в профессию .NET Developer/Задание 1/.vs/HelloWorldConsoleApp_Task1/DesignTimeBuild/
2. Базовые возможности C#/Задание 1/ConsoleApp_task_2_1/obj/
2. Базовые возможности C#/Задание 1/ConsoleApp_task_2_1/bin/
2. Базовые возможности C#/Задание 1/.vs/
2. Базовые возможности C#/Задание 2/ConsoleApp_task_2_2/obj/
2. Базовые возможности C#/Задание 2/ConsoleApp_task_2_2/bin/
2. Базовые возможности C#/Задание 2/.vs/
3. Управляющие конструкции. Ветвление и циклы/Задание 1/ConsoleApp_task_3_1/obj/
3. Управляющие конструкции. Ветвление и циклы/Задание 1/ConsoleApp_task_3_1/bin/
3. Управляющие конструкции. Ветвление и циклы/Задание 1/.vs/
3. Управляющие конструкции. Ветвление и циклы/Задание 2/ConsoleApp_task_3_2/obj/
3. Управляющие конструкции. Ветвление и циклы/Задание 2/ConsoleApp_task_3_2/bin/
3. Управляющие конструкции. Ветвление и циклы/Задание 2/.vs/
3. Управляющие конструкции. Ветвление и циклы/Задание 3/ConsoleApp_task_3_3/obj/
3. Управляющие конструкции. Ветвление и циклы/Задание 3/ConsoleApp_task_3_3/bin/
3. Управляющие конструкции. Ветвление и циклы/Задание 3/.vs/

